body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-toDoList {
    max-width: 750px;
    min-width: 425px;
    min-height: 400px;
    border: 2px solid black;
    margin: 100px auto;
    padding: 20px;
    background-color:rgb(241, 238, 238);
}


input {
    width: 80%;
    height: 25px;
}

.containerInput button {
    width: 16%;
    height: 30px;
    background-color: green;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: aquamarine;
    color: black;
}

.added-tasks {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}